body {
  font: {
    size: 62.5%;
    // family: 'Roboto', sans-serif;
    family: 'Source Sans Pro', sans-serif;
  }
  color: $color_default;
  width: 100%;
  margin: 0;
  padding: 1rem;
  // better to pad to have children move away from the sides
  box-sizing: border-box;
}

.product {
  text-align: center;
  // position: relative;
}

.index-link {
  width: 50%;
  margin: 0 auto;
  a {
    text-align: center;
  }
}

a {
  color: $color_default;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
