.product-item {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: .1rem solid rgba(215, 215, 215, 0.63);
  box-sizing: border-box;

  &:last-child {
    border-bottom: 0;
  }

  &:hover {
    background: $color_default;
    color: white;
  }

  .fa {
    font-size: 7rem;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
  }

  .product-name {
    position: relative;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 600;
  }

  &::before {
    position: absolute;
    content: '';
    border-top: .25rem solid $color_default;
    width: 5rem;
    bottom: 5.25rem;
    left: calc(50% - 2.5rem);
  }

  .descriptor {
    color: white;
    position: relative;
  }

  .descriptor::after {
    position: absolute;
    content: '';
    border-top: .25rem solid white;
    width: 5rem;
    bottom: 1rem;
    left: calc(50% - 2.5rem);
  }

}

@media (min-width: 670px) and (max-width: 880px) {
  .product-item {
    float: left;
    width: 50%;

  &:nth-child(2n+1) {
      border-right: .1rem solid rgba(215, 215, 215, 0.63);
    }

  &:nth-child(5) {
    border-bottom: 0;
  }
  }
}

@media (min-width: 881px) {

  .product {
    padding-top: 4rem;
  }

  .product-item {
    float: left;
    width: 33%;
    padding-bottom: 2rem;

    .product-name {
      font-size: 2rem;
    }

    .fa {
      font-size: 11rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    &::before {
      position: absolute;
      content: '';
      border-top: .25rem solid $color_default;
      width: 5rem;
      bottom: 7rem;
      left: calc(50% - 2.5rem);
    }

    .descriptor {
      color: white;
    }

  &:nth-child(3n+2) {
      border-right: .1rem solid rgba(215, 215, 215, 0.63);
      border-left: .1rem solid rgba(215, 215, 215, 0.63);
    }

  &:nth-child(1n+4) {
    border-bottom: 0;
  }

  }
}
